.App {
  text-align: center;
  background-color: #4c00b4;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: purple;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */

.app-container {
  display: flex;
  flex-direction: column; /* Adjust container to flex column layout */
}

.content {
  flex: 1; /* Fill remaining space in the container */
  margin: 20px; /* Add margin to the content for better spacing */
}

@media only screen and (max-width: 768px) {
  .content {
    margin: 10px; /* Adjust margin for smaller screens */
  }
}
